tr
    +product('https://www.gold585.ru/catalog/--207831712337619774/','http://www.gold585.ru/upload/mail/28-08-201/mail0_04.jpg')
    +product('https://www.gold585.ru/catalog/ring_2006228/','http://www.gold585.ru/upload/mail/28-08-201/mail0_05.jpg')
            