doctype html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"
html(xmlns="http://www.w3.org/1999/xhtml")
include variables.pug
include mixins.pug
head
    include blocks/header/head.pug
    include style.pug
body
    table(id="backgroundTable" style="-webkit-font-smoothing:antialiased;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;width:100% !important;line-height:100% !important;")
        tr
            td(align="center" 11style="-webkit-font-smoothing:antialiased;line-height:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;")
                table(class="outer" border="0" cellspacing="0" cellpadding="0" width="600" role="presentation" style="-webkit-font-smoothing:antialiased;line-height:100%;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;mso-table-lspace:0pt;mso-table-rspace:0pt;Margin:0 auto;width:600px;")
                    tr 
                        include blocks/header/preheader.pug
                    tr
                        include blocks/header/header.pug
                    tr
                        include blocks/header/header-nav.pug
                    tr
                        include blocks/header/red-banner.pug
                    tr
                        //- Баннер с промокодом
                            banner-code(
                                'куда ведет кнопка с баннера',
                                'текст промокода',
                                'цвет плашки промокода',
                                'цвет обводки плашки промокода',
                                'изображение слева',
                                'изображение сверху по центру',
                                'изображение справа',
                                'изображение снизу по центру'
                            )
                        +banner-code(
                            'https://www.gold585.ru/',
                            'code',
                            '#ffffff',
                            '#000000',
                            'http://www.gold585.ru/upload/mail/04-09-2018/banner-code_01.jpg',
                            'http://www.gold585.ru/upload/mail/04-09-2018/banner-code_02.jpg',
                            'http://www.gold585.ru/upload/mail/04-09-2018/banner-code_05.jpg',
                            'http://www.gold585.ru/upload/mail/04-09-2018/banner-code_03.jpg'
                        )
                    tr
                        //-offset('отступ в px')
                        +offset('15')
                    tr
                        +banner-redframe('http://www.gold585.ru/upload/subscribe/16-08-2017/18.png','http://www.gold585.ru/upload/subscribe/16-08-2017/19.png','asdasdas')
                    tr
                        //-offset('отступ в px')
                        +offset('15')
                    tr
                        //- Обычный баннер с ссылкой
                            banner('ссылка куда ведет баннер', 'ссылка на изображение баннера')
                        +banner('https://www.gold585.ru/catalog/earrings/earrings_with_colored_stones/ ', 'http://www.gold585.ru/upload/mail/31-08-2018/mail2_03.jpg')
                    tr
                        //- Квадпратный баннер с промокодом
                            banner('ссылка на верхнее изображение баннера', 'ссылка на нижнее изображение баннера', 'промокод')
                        +banner-shadowframe('http://www.gold585.ru/upload/subscribe/31-08-2018/42.png', 'http://www.gold585.ru/upload/subscribe/31-08-2018/43.png', 'asdsadasd')
                    tr
                        include blocks/product-card.pug
                    tr
                        //- Обычный баннер без ссылки
                            banner('ссылка на изображение баннера')
                        +banner-no-link('http://www.gold585.ru/upload/mail/02-08-2018/mail_3_17.jpg')
                    tr
                        //-offset('отступ в px')
                        +offset('20')
                    tr
                        include blocks/footer/footer-nav.pug

                    include blocks/footer/footer.pug

                    tr
                        include blocks/footer/unsubscribe.pug