doctype html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"
html(xmlns="http://www.w3.org/1999/xhtml")
include variables.pug
include mixins.pug
head
    include blocks/header/head.pug
    include style.pug
body
    table(id="backgroundTable" style="-webkit-font-smoothing:antialiased;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;width:100% !important;line-height:100% !important;")
        tr
            td(align="center" 11style="-webkit-font-smoothing:antialiased;line-height:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;")
                table(class="outer" border="0" cellspacing="0" cellpadding="0" width="600" role="presentation" style="-webkit-font-smoothing:antialiased;line-height:100%;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;mso-table-lspace:0pt;mso-table-rspace:0pt;Margin:0 auto;width:600px;")
                    tr 
                        include blocks/header/preheader.pug
                    tr
                        include blocks/header/header.pug
                    tr
                        include blocks/header/header-nav.pug
                    tr
                        include blocks/header/red-banner.pug
                    tr
                        //- Обычный баннер с ссылкой
                            banner('ссылка куда ведет баннер', 'ссылка на изображение баннера')
                        +banner('https://www.gold585.ru/catalog/earrings/earrings_with_colored_stones/ ', 'http://www.gold585.ru/upload/mail/31-08-2018/mail2_03.jpg')
                    tr
                        include blocks/product-card.pug
                    tr
                        //-offset('отступ в px')
                        +offset('20')
                    tr
                        include blocks/footer/footer-nav.pug

                    include blocks/footer/footer.pug

                    tr
                        include blocks/footer/unsubscribe.pug