- var title          = "Тема" // Тема письма
- var preheader      = "Тест" // Прехэдер

- var bannerTopHref  = "https://www.gold585.ru/contacts/shops/" // Ссылка с верхнего баннера
- var bannerTopSrc   = "http://www.gold585.ru/upload/mail/28-08-201/mail0_03.jpg" // Путь до изображения верхнего баннера